<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.lvmvrquxl.thekolab.home">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".base.HomeActivity"
            android:theme="@style/TheKoLab.Theme.NoActionBar" />
    </application>

</manifest>